.header {
    display: flex;
    max-width: 880px;
    width: 100%;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
    padding: 0;
    margin: 45px auto 40px;
}

@media screen and (max-width: 320px) {
    .header {
        width: 320px;
        height: 56px;
        padding: 28px 0 28px 28px;
    }
}